<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Add Blog</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mt-4">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="coverImage" name="coverImage" class="form-label">Upload File</label>
            <input
              type="file"
              class="form-control"
              name="coverImage"
              id="coverImage"
              aria-describedby="coverImage"
            />
          </div>
        <div class="mb-3">
          <label for="title" name="title" class="form-label">Title</label>
          <input
            type="text"
            name="title"
            class="form-control"
            id="title"
            aria-describedby="title"
          />
        </div>
        <div>
            <label for="body" name="body" class="form-label">Body</label>
            <textarea class="form-control" name="body" id="body" style="height: 100px;"></textarea>
        </div>
        <div class="mt-4">
            <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <%- include("./partials/script") %>
  </body>
</html>
